@import "./roboto.styl"

$body-font-family = "Roboto"

@import "~vuetify/src/stylus/app"

html
  font-size: 16px

.katex .accent
  background-color: transparent !important
  border-color: currentcolor !important

.container
  max-width: 900px !important

blockquote
  padding: 16px 0px 16px 24px
  font-size: 18px
  font-weight: 300

code
  background-color: #233 !important

pre > code
  color: #8bb
  margin-bottom: 16px
  padding: 8px
  &:before
  &:after
    content: ""
