@import "roboto.styl"

$body-font-family = "Roboto"
$body-font-size = 16px

@import "~vuetify/src/stylus/app"

.katex .accent
  background-color: transparent !important
  border-color: currentcolor !important
